
/******************
	style in iframe
*******************/

body {
	background: #fff; 
	width: 960px; 
	display: block; 
	min-height:1140px;
	color: black; 
	font-family: Tahoma; 
	overflow: hidden;
	word-wrap: break-word;
}

div{
	display: block;
	width: 100%;
	line-height: 20px;
	padding: 4px 1px;
	min-height:  14px;

}

div:focus {
	outline: none;
}


a{cursor:pointer}


.iframe-table {
	border: 1px solid black;
	margin: 10px;
	border-collapse: collapse;
}
.iframe-table td{
	border: 1px solid black;
	text-align: left;
}
.iframe-table .wrap_text {
	min-height: 30px;
	padding: 2px 5px;
	min-width: 50px;
	max-width: 50px;
}
.iframe-table .td_wrap_text {
	word-wrap: break-word;
}