*{
	color: rgba(9,89,89,.8);;
	font-family:tahoma;
	font-weight: lighter;
	font-size:13px;
	margin:0px;
	padding:0px;
	border-collapse: collapse;
	-webkit-user-select: none;
	-moz-user-select: none;
}
body{background:rgba(0,0,0,.6);}
#text{
	font-size:13px;
	height:1200px;
	width:1000px;
	margin: 20px auto;
	background:#fff;
	-webkit-box-shadow:  0px 3px 10px rgba(0,0,0,.6);
	-moz-box-shadow:	 0px 3px 10px rgba(0,0,0,.6);
	box-shadow:			 0px 3px 10px rgba(0,0,0,.6);
}
.iframe4e{
	margin:2px;
	width:996px;
	height:1156px;
    border:none;
}
.toolbar{
	width:996px;
	height:30px;
	padding:3px 2px;
	border-bottom:1px solid #efefef;
	background:#eee;
	-webkit-box-shadow:  inset 0px 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:	 inset 0px 1px 2px rgba(0,0,0,.3);
	box-shadow:			 inset 0px 1px 2px rgba(0,0,0,.3);
	background-image: -webkit-linear-gradient(top,#fff,#e2e2e2);
	background-image: -moz-linear-gradient(top,#fff,#e2e2e2);
	background-image: -ms-linear-gradient(top,#fff,#e2e2e2);
	background-image: -o-linear-gradient(top,#fff,#e2e2e2);
	background-image: linear-gradient(top,#fff,#e2e2e2);
	border-color: #CCC;
}
.toolbar *{cursor:pointer}


.toolbar #bold{background: url(../icons/icons.png) no-repeat; background-position: -352px;}
.toolbar #underline{ background: url(../icons/icons.png) no-repeat; background-position: -960px;}
.toolbar #italic{background: url(../icons/icons.png) no-repeat; background-position: -384px;}
.toolbar #justifyleft{background: url(../icons/icons.png) no-repeat; background-position: -512px;}
.toolbar #justifycenter{background: url(../icons/icons.png) no-repeat; background-position: -544px;}
.toolbar #justifyright{background: url(../icons/icons.png) no-repeat; background-position: -576px;}
.toolbar #ForeColor{background: url(../icons/icons.png) no-repeat; background-position: -64px;}
.toolbar #BackColor{background: url(../icons/icons.png) no-repeat; background-position: -704px;}
.toolbar #link{ background: url(../icons/icons.png) no-repeat; background-position: -192px;}
.toolbar #image{ background: url(../icons/icons.png) no-repeat; background-position: -128px;}
.toolbar #superscript{ background: url(../icons/icons.png) no-repeat; background-position: -416px;}
.toolbar #subscript{ background: url(../icons/icons.png) no-repeat; background-position: -448px;}
.toolbar #InsertOrderedList{ background: url(../icons/icons.png) no-repeat; background-position: -768px;}
.toolbar #InsertUnorderedList{ background: url(../icons/icons.png) no-repeat; background-position: -896px;}
.toolbar #outdent{ background: url(../icons/icons.png) no-repeat; background-position: -608px;}
.toolbar #indent{ background: url(../icons/icons.png) no-repeat; background-position: -640px;}

.toolbar .fontname{	display: inline-block; float: left;position:relative;}
.toolbar .fontname #FontName{
	width: 150px;

}
.backdrop {
	position: fixed;
	display: none;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.toolbar .fontname .toggle{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: white;
	border: 1px solid #CCC;
	border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.toolbar .fontname .toggle li{
	background: white;
	padding: 5px;
	border-bottom: 1px solid #CCC;
}


.toolbar #isrt_table{background: url(../icons/icons.png) no-repeat; background-position: -160px;}
.toolbar #addTable{background: url(../icons/icons.png) no-repeat; background-position: -992px;}
.toolbar #addRowBottom{background: url(../icons/icons.png) no-repeat; background-position: -1056px;}
.toolbar #addRowTop{background: url(../icons/icons.png) no-repeat; background-position: -1024px;}
.toolbar #addColLeft{background: url(../icons/icons.png) no-repeat; background-position: -1088px;}
.toolbar #addColRight{background: url(../icons/icons.png) no-repeat; background-position: -1120px;}
.toolbar #DelRow{background: url(../icons/icons.png) no-repeat; background-position: -1152px;}
.toolbar #DelCol{background: url(../icons/icons.png) no-repeat; background-position: -1184px;}

.e_b, #font_type, #wrap_change  #ch_color{
	height: 31px;
	width: 34px;
	float:left;
	border: 1px solid  rgba(0,0,0,.1);
	margin: 0px 1px 0px 0px;

}
.e_b:hover, #wrap_change  #ch_color:hover{
	-webkit-box-shadow:  0 0px 25px rgba(0,0,0,.2);
	-moz-box-shadow:	 0 0px 25px rgba(0,0,0,.2);
	box-shadow: 		 0 0px 25px rgba(0,0,0,.2);
}

.e_e_pushed,.e_b:active{
	-webkit-box-shadow: 	inset 0 0px 8px rgba(0,0,0,.1);
	-moz-box-shadow:		inset 0 0px 8px rgba(0,0,0,.1);
	box-shadow: 			inset 0 0px 8px rgba(0,0,0,.1);
	height:31px;
	width:34px;
	float:left;
	border: 1px solid  rgba(0,0,0,.1);
	margin: 0px 1px 0px 0px;
}
.e_color{
	position:absolute;
	width:20px;
	top:46px;
	height:3px;
}

/*Кололрпикер*/
#wrap_change{height:24px;width:189px;margin:0px auto;font-size:14px;	font-weight: bold;}
#wrap_change #color_out{
	outline:none;
	width:60px;
	height:24px;
	background: rgba(255,255,255,.7);
	-webkit-box-shadow: inset 0 0px 8px rgba(0,0,0,.1);
	-moz-box-shadow:	inset 0 0px 8px rgba(0,0,0,.1);
	box-shadow: 		inset 0 0px 8px rgba(0,0,0,.1);
    border: 1px solid  rgba(0,0,0,.2);
    color: rgba(9,89,89,.8);;
	font-weight: bold;
}
#wrap_change  #ch_color{
	margin: 0px 13px 0px 0px;
	padding:3px;
	width:100px;
	height:26px;
	font-weight: bold;
	border:1px solid #ccc;
	background:#eee;
	background-image: -webkit-linear-gradient(top,#fff,#e2e2e2);
	background-image: -moz-linear-gradient(top,#fff,#e2e2e2);
	background-image: -ms-linear-gradient(top,#fff,#e2e2e2);
	background-image: -o-linear-gradient(top,#fff,#e2e2e2);
	background-image: linear-gradient(top,#fff,#e2e2e2);
    cursor:pointer;
}
#wrap_change  #ch_color:active{
	-webkit-box-shadow:	inset 0px 1px 8px rgba(0,0,128,.2);
	-moz-box-shadow:	inset  0px 1px 8px rgba(0,0,128,.2);
	box-shadow:			inset 0px 1px 8px rgba(0,0,128,.2);
}
#fontfamily,#c-p_wrap,#cr_table_table{
	position:absolute;top:0px;left:0px;
	cursor: pointer; border:1px solid #ccc;border-top:none;	background:#e2e2e2;
	background-image: -webkit-linear-gradient(top,#e2e2e2,#d0d0d0);
	background-image: -moz-linear-gradient(top,#e2e2e2,#d0d0d0);
	background-image: -ms-linear-gradient(top,#e2e2e2,#d0d0d0);
	background-image: -o-linear-gradient(top,#e2e2e2,#d0d0d0);
	background-image: linear-gradient(top,#e2e2e2,#d0d0d0);
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.3);
	-moz-box-shadow:	0px 2x 4px rgba(0,0,0,.3);
	box-shadow:			0px 2px 4px rgba(0,0,0,.3);
}
.c-p-wrap{height:231px;width:201px; position:absolute; border:1px solid black; background:gray;z-index:2500;}
.c-p-backdrop{position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:100;}
.c-p_wheel{	position:relative; height:195px; width:195px; margin:3px; background: url(../icons/icons-colorpicker/wheel.png) no-repeat;cursor:default;  }
.c-p_mask{position:absolute;top:49px;left:49px;width:101px;height:101px;background:url(../icons/icons-colorpicker/mask.png) no-repeat; background-color: rgb(255,255,255);cursor:default;}
.mark_wheel, .mark_mask{cursor:default;  position:relative; z-index:10; width:17px; height:17px;background:url(../icons/icons-colorpicker/marker.png) no-repeat;}
/*.mark_wheel{top:50px; left:15px;}*/


/*Создание таблиц.*/
#cr_table_table{position:absolute;	background:#ccc; border:1px solid rgba(0,0,128,.3); border-top:none;}
#cr_table_table td{height:14px; width:25px;   border:1px solid maroon;border-top:none}
#cr_table_table td:hover{background:rgba(33,33,128,.2); border:1px solid rgba(0,0,128,.8);border-top:none}

#cursor_line_helper{position:absolute; top:0px; left:0px;width:100%; height:100%; z-index:10;}
#h_cursor_line{position:absolute;z-index:11;width:100%;  height:6px; border-bottom:2px solid #9534E4;  cursor:n-resize}
#v_cursor_line{position:absolute;z-index:11; height:100%; width:6px; border-right:2px solid #9534E4;   cursor:w-resize}

.flyover{
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
	padding:6px;
	background:rgba(255,255,255,.95);
	border:1px solid rgba(129,167,210,.4);
	cursor:pointer;
	margin:auto;
}
.flyover a,.floatImg{font-weight: bold;  text-decoration:none;}
.flyover a:hover,.floatImg:hover{text-decoration:underline;}
