meta(charset='UTF-8')
	
link(rel="shortcut icon", type="image/x-icon",  href="assets/img/favicon.ico")

meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

meta(name='format-detection')


link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=PT+Sans:400,700')
link(rel='stylesheet', href='/assets/css/css.css')
//if lt IE 9
	script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
	script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
