script#contentEditableTemplate(type="text/template")
	.texteditabler-bar
	iframe.texteditabler-editable(contenteditable="true")




script#editableTemplate(type="text/template")
	html
		head
		body
			.editable-line


script#toolbarTemplate(type="text/template")
	.texteditabler-bar-buttonwrap.
		<% _.each(defaults.split('|'), function(item){ %>
		#[span.button #[button( data-action!="<%= item %>",  class!="texteditabler-bar-button default <%=item %>")] ]
		<% }) %>

